In [1]:
print('hello world!')

hello world!

In [2]:
45+72

117

In [5]:
5*(12.5-4)/2

21.25

In [7]:
print("welcome !")

welcome !

In [11]:
print('welcome', 'to', 'the', 'world', 'of', 'python!')

welcome to the world of python!

In [18]:
print('welcome', '\nto', 'the', '\ttworld', 'of', '\npython!')

welcome
to the 	tworld of
python!

In [19]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [21]:
 print('Display \'hi\' in quotes')

Display 'hi' in quotes

In [22]:
name=input('what is your name?')

what is your name? sks

In [23]:
print(name)

sks

In [28]:
n1=input('num1');
n2=input('num2');
c=int(n1)+int(n2);
print('addition is:',c);

num1 4
num2 5

addition is: 9

In [29]:
int(40.5)

40